.section {
    margin-left: 10px;
    margin-right: 10px;
}

.card {
    width: 100%;
}

@media screen and (max-width:770px) {
    #row1 td {
        display: block;
    }
    .row1 td {
        display: block;
    }
}